# .env.example

# Firebase Configuration
VITE_FIREBASE_API_KEY=replace_this_with_your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=replace_this_with_your_auth_domain
VITE_FIREBASE_PROJECT_ID=replace_this_with_your_project_id
VITE_FIREBASE_STORAGE_BUCKET=replace_this_with_your_storage_bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=replace_this_with_your_messaging_sender_id
VITE_FIREBASE_APP_ID=replace_this_with_your_app_id

# ATTOM API KEY
VITE_ATTOM_API_KEY=replace_this_with_your_attom_api_key
